#tableBox{
    -fx-background-color: #4E9950;
    -fx-pref-width: 886px;
    -fx-pref-height: 493px;
    -fx-background-radius: 20;
    -fx-padding: 20px 20px 20px 20px;
    -fx-border-color: black;
    -fx-border-radius: 20;
}

#buttonBox{
    -fx-pref-height: 150px;
    -fx-pref-width: 200px;
}

#dealButton, #checkButton{
    -fx-pref-width: 124px;
    -fx-pref-height: 33px;
    -fx-background-color: #EDEDED;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
}
#playCard {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-pref-width: 125px;
    -fx-pref-height: 200px;
    -fx-min-height: 200px;
    -fx-max-height: 200px;
}
#infoContainer{
    -fx-pref-height: 200px;
    -fx-pref-width: 300px;
}
#leftInfo, #rightInfo{
    -fx-font-size: 16px;
}